<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.java.selfproject">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SelfProject"
        tools:ignore="AllowBackup">
        <activity android:name=".ProHome" />
        <activity android:name=".ProHomeClientView" />
        <activity android:name=".ClientHomeActivity" />
        <activity android:name=".ProRegisterAccountActivity" />
        <activity android:name=".ProLoginActivity" />
        <activity android:name=".ClientRegisterAccountActivity" />
        <activity android:name=".ClientLoginActivity" />
        <activity android:name=".SettingsPane"/>
        <activity android:name=".UpdateUser"/>
        <activity android:name=".ProSettingsPage"/>
        <activity android:name=".MainActivity">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>